.page-links {
  display: flex;
  border-style: double;
  border: 4px solid #41bdf7;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.user-management-button {
  display: grid;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}